<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicEDKey</key>
	<string>LW3PPS+T20/j7Wgr/enAYJCbD0qgth4+bzPMKfpowPo=</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/tyirvine/Informant/main/appcast.xml</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
